<div class="header">
  <img src="/assets/profile-logo.jpg" alt="foto do perfil">
  <div class="profile">
    <div class="info">
      <h2>tapiocafoodcompany</h2>
      <div class="buttons">
        <button>Follow</button>
        <button>></button>
        <button class="no-background">...</button>
      </div>
    </div>
    <ul>
      <li>posts</li>
      <li>followers</li>
      <li>following</li>
    </ul>
    <div>
      <h1>Tapioca Company</h1>
      <h2>Shopping & Retail</h2>
      <p>&#x1F335; Since 2016 &#x1F335;
        <br>
        Primeira empresa de tapiocas na Holanda
        <br>
        Eerste Tapioca bedrij in Nederland
        <br>
        First tapioca company in Netherlands
        <br>
        From Brazil
        <br>
        <a href="http://www.tapiocacompany.com/" rel="external" target="_blank">www.tapiocacompany.com</a>
       </p>
       <h3>Followed by vidalaranja, ducsamsterdam, brasileiranaholanda + 21 more</h3>
    </div>
  </div>
</div>